@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.login-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #257212);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
    background-color: rgb(255, 253, 253);
    padding: 80px 40px;  
    border-radius: 15px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 3px solid #39ff14; 
    box-shadow: 
        0 0 8px #4cca36,
        0 0 15px #4cca36,
        0 0 30px #4cca36,
        0 0 40px #4cca36;
    position: relative;
}

.login-input-container {
    position: relative;
    margin-top: 20px;
}

.login-logo-container {
    position: relative;
    text-align: center;
}

.login-logo-img {
    width: 150px;  
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    position: absolute; 
    top: -40px;  
    left: 50%; 
    transform: translateX(-50%);
}

.login-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 20px;
    background-color: #377528ef;
    border: none;
    border-radius: 6px;
    color: white;
    outline: none;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.login-input::placeholder {
    color: #d7e1cd;
}

.login-input:focus {
    background-color: #2a591f;
}

.login-input-container i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffffef; 
    font-size: 22px;
    pointer-events: none;
}

.login-form-title {
    margin: 0 0 60px 0;          
    margin-top: 30px;   
    text-align: center;           
    font-family: "Permanent Marker", cursive;
    font-size: 32px;               
    color: #000000;               
    letter-spacing: 1px;          
    font-weight: bold;
}

.login-submit-btn {
    margin-top: 20px; 
    padding: 12px 12px;
    font-size: 18px;
    background-color: #2a591f; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 70%; 
    transition: background-color 0.3s ease;
    position: relative; 
    top: 65px; 
    margin-left: 15%; 
}

.login-submit-btn:hover {
    background-color: #85b376; 
}

.login-register-text {
    text-align: center;
    margin-top: 100px; 
    font-size: 16px;
    color: #000000;
}

.login-register-link {
    color: #00c853;
    text-decoration: none;
}

.login-register-link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
.login-form { padding: 60px 20px; width: 100%; }
}
